@import url('https://fonts.cdnfonts.com/css/planet-kosmos');
@import url('https://fonts.cdnfonts.com/css/alssential-free-trial');
@import url('https://fonts.cdnfonts.com/css/satoshi');
* {
  font-family: 'Satoshi', 'Verdana', sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#particles-js {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: -1;
}

#content {
  font-size: 3em;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 4vh;
}

#header {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

#header img {
  width: 20%;
  height: auto;
}

#searchbar {
  text-align: center;
  margin: 20px auto;
}

h1 {
  font-size: 2em;
}

h3, h1, h2 {
  font-weight: normal;
  font-family: 'Planet Kosmos', sans-serif;
}

.form__input {
  border: none;
  border-radius: 20%;
  width: 50vw;
  box-shadow: 0 0 10px rgba(74, 50, 85, 0.3);
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  color: #fff;
  cursor: text;
  font-size: 0.8em;
  font-family: 'Satoshi', sans-serif;
  height: 2em;
  transform: translateY(-2em)
}
#uv-address::placeholder {
  font-family: 'Alssential Free Trial', sans-serif;
}

a{
  text-decoration: none;
  color:white;
  width:50px;
  height:50px;
  padding-right: 1px;
  padding-left: 1px;
  text-align: center;
  align-self: center;
  font-family: 'Alssential Free Trial', sans-serif;
}

#uv-form {
  position: relative;
  z-index: 1;
  font-size: 0.95em;
}

#uv-form::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: -1;
  background: radial-gradient(circle, rgba(4, 43, 54, 0.8) 10%, rgba(26, 98, 192, 0) 70%);
  mix-blend-mode: overlay; /* Adjust blending for the effect */
  animation: spin 16s infinite linear;
  border-radius: 2em;
}

.form__input::placeholder {
  color: #aaa;
  text-align: center;
}

.form_input:hover{
  cursor:cell;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(154, 178, 206, 0.5);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 98vh;
  width: auto;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: rgba(8, 47, 59, 0.3);;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 5px rgba(15, 84, 105, 0.3);
}

nav a, nav button {
  color: #ccc;
  text-decoration: none;
  font-size: 1.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em;
  margin: 0.25em 0;
  border-radius: 0.5em;
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: rgba(8, 47, 59, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(14, 83, 104, 0.7);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(15, 84, 105, 0.9);
  cursor: grab;
}

a:hover {
  cursor: pointer;
}

nav a:hover, nav button:hover {
  background-color: rgba(14, 83, 104, 0.555);
  color: #ffffff;
}

nav a.active, nav button.active {
  background-color: rgb(6, 38, 48);
  color: #ffffff;
}

.bottom-icons {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em 0;
}

footer a {
  text-decoration: underline;
  font-size: 1.4em;
  opacity: 80%;
}

footer {
  margin: 0;
  bottom: 0;
  position: fixed;
  right: 0;
  padding: 0.5em;
}

footer a {
  margin-left: 1em;
}

.fa {
  color: #fff;
}

.fa:hover {
  color: #aaa;
}

.datetime {
  font-size: 1.1em;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 1em;
}

.ocean {
  height: 8%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #011c24;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  opacity: 30%;
  width: 6400px;
  top: -198px;
  left: 0;
  height: 198px;
  transform: translate(0, 0, 0);
  animation: wave 7s ease infinite;
}

.wave:nth-of-type(2) {
  top: -168px;
  animation: swell 4s ease infinite;
  opacity: 30%;
}

@keyframes wave {
  0% { margin-left: 0; }
  100% { margin-left: -1600px;}
}
@keyframes swell {
  0%, 100% {
    transform: translate(0, -30px);
  }
  50% {
    transform: translate(0, 5px);
  }
}

footer a i {
  font-size: 1.8em;
}

@keyframes fadeSlideUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.lowtaperfade {
  animation: fadeSlideUp 0.8s ease-out forwards;
}


@keyframes fadeSlideUp {
  from {
      opacity: 0;
      transform: translateY(1em);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeSlideUpForQuoteHolder {
  from {
      opacity: 0;
      transform: translateY(-1em);
  }
  to {
      opacity: 1;
      transform: translateY(-2em);
  }
}

.quote-holder {
  font-size: 0.5em;
}

.quote-thing {
  font-family: 'Satoshi', sans-serif;
}

.lowtaperfade, .lowtaperfade3 {
  animation: fadeSlideUp 0.8s ease-out forwards;
  opacity: 0;
}

.lowtaperfade2 {
  animation-delay: 0.2s;
  animation: fadeSlideUpForQuoteHolder 0.8s ease-out forwards;
  opacity: 0;
}
.lowtaperfade3 {
  animation-delay: 0.4s;
}

.search-output {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: none;
}

#games-topbar {
  display: flex;
  flex-direction: row;
  height: 5em;
  margin-bottom: 1em;
}